{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column">
        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  welcome back, name!
                </h1>
                <h2 class="subtitle">
                  here are the most recent tweets from everyone else 0:
                </h2>
              </div>
            </div>
        </section>
        </br>
        <div class="box">
            <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                      <br>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                      </a>
                      <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                      </a>
                      <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                      </a>
                    </div>
                  </nav>
                </div>
                <div class="media-right">
                  <button class="delete"></button>
                </div>
            </article>
        </div> 

    </div>
    <div class="column is-one-quarter"></div>
</div>

{% endblock %}