{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column">
        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  {{ account.name }}
                </h1>
                <h2 class="subtitle">
                  @{{ user.username }} // {{ account.location }}
                </h2>
              </div>
            </div>
        </section>
        </br>

        <div class="box">
            <h2>{{ account.bio }}</h2>
        </div>

        {% for tweet in tweets %}
        <div class="box">
            <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ account.name }}</strong> <small>@{{ user.username }}</small> <small>{{ tweet.time }}</small>
                      <br>
                      {{ tweet.body|safe }}
                    </p>
                  </div>
                </div>
            </article>
        </div> 
        {% endfor %}

    </div>
    <div class="column is-one-quarter"></div>
</div>

{% endblock %}